@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/NotoSansKR-Thin.eot?') format('eot'),
    url('../fonts/NotoSansKR-Thin.woff2') format('woff2'),
    url('../fonts/NotoSansKR-Thin.woff') format('woff'),
    url('../fonts/NotoSansKR-Thin.ttf')  format('truetype'),
    url('../fonts/NotoSansKR-Thin.svg#NotoSansKR-Thin') format('svg');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/NotoSansKR-Light.eot?') format('eot'),
    url('../fonts/NotoSansKR-Light.woff2') format('woff2'),
    url('../fonts/NotoSansKR-Light.woff') format('woff'),
    url('../fonts/NotoSansKR-Light.ttf')  format('truetype'),
    url('../fonts/NotoSansKR-Light.svg#NotoSansKR-Light') format('svg');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/NotoSansKR-DemiLight.eot?') format('eot'),
    url('../fonts/NotoSansKR-DemiLight.woff2') format('woff2'),
    url('../fonts/NotoSansKR-DemiLight.woff') format('woff'),
    url('../fonts/NotoSansKR-DemiLight.ttf')  format('truetype'),
    url('../fonts/NotoSansKR-DemiLight.svg#NotoSansKR-DemiLight') format('svg');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/NotoSansKR-Regular.eot?') format('eot'),
    url('../fonts/NotoSansKR-Regular.woff2') format('woff2'),
    url('../fonts/NotoSansKR-Regular.woff') format('woff'),
    url('../fonts/NotoSansKR-Regular.ttf')  format('truetype'),
    url('../fonts/NotoSansKR-Regular.svg#NotoSansKR-Regular') format('svg');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/NotoSansKR-Medium.eot?') format('eot'),
    url('../fonts/NotoSansKR-Medium.woff2') format('woff2'),
    url('../fonts/NotoSansKR-Medium.woff') format('woff'),
    url('../fonts/NotoSansKR-Medium.ttf')  format('truetype'),
    url('../fonts/NotoSansKR-Medium.svg#NotoSansKR-Medium') format('svg');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/NotoSansKR-Bold.eot?') format('eot'),
    url('../fonts/NotoSansKR-Bold.woff2') format('woff2'),
    url('../fonts/NotoSansKR-Bold.woff') format('woff'),
    url('../fonts/NotoSansKR-Bold.ttf')  format('truetype'),
    url('../fonts/NotoSansKR-Bold.svg#NotoSansKR-Bold') format('svg');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/NotoSansKR-Black.eot?') format('eot'),
    url('../fonts/NotoSansKR-Black.woff2') format('woff2'),
    url('../fonts/NotoSansKR-Black.woff') format('woff'),
    url('../fonts/NotoSansKR-Black.ttf')  format('truetype'),
    url('../fonts/NotoSansKR-Black.svg#NotoSansKR-Black') format('svg');
}